/* ==== PALETTE COLOR ==== */
:root{
  --main-color:#41644A;
  --dark-color:#263A29;
  --heading-color:#E86A33;
  --text-color:#F2E3DB
} 

.difficultyCard .difficulty {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  transition: opacity 0.7s ease;
}

.difficultyCard:hover .difficulty {
  opacity: 1; 
}

.container{
  max-width: 1300px;
}

.menu-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.react-horizontal-scrolling-menu--scroll-container {
  display: flex;
  height: max-content;
  overflow: hidden;
  position: relative;
  width: 100%
}

.react-horizontal-scrolling-menu--inner-wrapper {
  display: flex;
  overflow-y: hidden;
}

.react-horizontal-scrolling-menu--scroll-container.rtl {
  direction: rtl
}

.react-horizontal-scrolling-menu--wrapper {
  display: flex;
  flex-direction: row 
}

.menu-item {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  padding: 10px;
  margin-right: 10px;
}



.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999999;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

#calories_table thead{
  background-color:var(--dark-color);
  color:#fff;  
}

#calories_table thead th{
  padding: 10px 20px;
}

#calories_table tbody tr:nth-child(2n){
  background-color: var(--text-color);
}

#calories_table tbody td{
  padding: 5px 10px;
  text-align: center;
}






